
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    display: flex;
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
#main{
    width: 100%;
}
#sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-icon{
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.sidebar-icon p{
    margin: 0;
}
.sidebar-icon ion-icon{
    font-size: 1.5em;
}
#topbar{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    height: 50%;
}
#search-wrapper{
    display: flex;
    height: 50%;
}
#topbar-icons{
    display: flex;
}
.topbar-icon{
    font-size: 2em;
    padding:0 0.3em;
}
#mic-icon ion-icon{
    font-size: 1.7em;
}
#search-button{
    padding: 0 0.6em;
    font-size: 1.3em;
    display: flex;
    align-items: center;
}
#mic-icon{
    margin: 0 0.5em;
}
#content{
    display: flex;
    flex-wrap: wrap;      
    gap: 20px;            
    padding: 20px;
    justify-content: flex-start; 
}
.single-card{
width: 435px;
}
.anteprima img {
    width: 100%;
}
.bottom-card {
    display: flex; 
    margin-top: 12px;
}
.epi-logo {
    width: 36px;
    height: 36px;
    margin-right: 12px;
}
.testo .title {
    font-weight: bold;
    margin: 0;
    font-size: 14px;
}
.testo .description {
    font-size: 12px;
    margin-top: 4px;
}